.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.btn {
  color: white;
  background-color: gold;
  font-weight: bold;
  font-size: 24px;
  border: none;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.4);
  transition-duration: 0.3s;
}

.btn:hover {
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.4);
}

